.place-order {
  position: absolute; /* Ensure the form is positioned relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the form */
  width: 90%;
  max-width: 500px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 1000; 
}

.place-order h2 {
  margin-bottom: 20px;
  color: #ff6600;
}

.place-order form {
  width: 100%;
}

.place-order div {
  margin-bottom: 15px;
}

.place-order label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.place-order input[type="text"],
.place-order input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.place-order button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
/*   transition: background-color 0.3s ease; */
  margin-bottom: 10px;
}

.place-order button:hover {
  background-color: #ff6600;
}

.place-order .add-product-button {
  background-color: #ff6600;
}

.place-order .add-product-button:hover {
  background-color: #ff6600;
}

.place-order .error {
  color: #dc3545;
  font-size: 14px;
}

.place-order .success {
  color: #28a745;
  font-size: 14px;
}
