.profile-settings {
  padding: 33px;
  position: absolute;
  top: 71px;
  left: 390px;
  width: 882px;
  border-radius: 24px;
  background-color: #FFF4F2;
  border-radius: 15px;
  margin-top: 10px;
}
.profile{
  position: relative;
}
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.profile-info h3 {
  margin: 0;
}

.profile-info p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

.profile-actions {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upload-photo,
.delete {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-photo {
  background-color: #ff5722;
  color: #fff;
}

.delete {
  background-color: #fff;
  color: #ff5722;
  border: 1px solid #ff5722;
}

.profile-form .form-group {
  margin-bottom: 15px;
}

.profile-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-form .form-group input {
  width: 390px;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-form .form-actions {
  display: flex;
  justify-content: space-between;
}

.profile-form .form-actions .cancel,
.profile-form .form-actions .save-changes {
  padding: 10px 20px ;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.profile-form .form-actions .cancel {
  background-color: #fff;
  width: 120px;
  border: 1px solid #ff5722 ;
}

.profile-form .form-actions .save-changes {
  background-color: #ff5722;
  color: #fff;
}
.f1{
  display: flex;
  gap: 30px;
}
.input-icon-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #ccc;
}


.input-icon-wrapper {
  position: relative;
}

.b11 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  left: 10px;
  color: #ccc;
}
.b1{
position: absolute;
  top: 84%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  left: 49px;
  color: #ccc;
}

.b1.hidden {
  color: transparent;
}
.b11.hidden {
  color: transparent;
}
.profile-actions input{

  color: #ff5722;
}