/* Customers.css */
.customers {
    padding: 33px;
    position: absolute;
    top: 12px;
    left: 260px;
    width: 1140px;
    border-radius: 24px;
    background-color: #EEEEEE;
    border-radius: 15px;
    margin-top: 30px;
  }
  .customer{
    position: relative;
  }
  .customers h2 {
    color: #ff6600;
    MARGIN-LEFT: -7px;
    margin-bottom: 35px;
  }
  
  .customers-table {
    width: 100%;
 /*    border-collapse: collapse; */
    margin-top: 20px;
    background-color: #FFFFFF;
    border-spacing: 0; /* Remplacer border-collapse: collapse; pour pouvoir utiliser border-radius */
    border-top-left-radius: 10px; /* Ajustez le rayon selon vos besoins */
    border-top-right-radius: 10px; /* Ajustez le rayon selon vos besoins */
/*     overflow: hidden; */

  }
  
  .customers-table th, .customers-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   /*  text-align: center; */

  }
  
  .customers-table th {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #0000007a;
    font-weight: bolder;
  }
  
  .view-button {
    background-color: #FEAB00;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 18px;
    cursor: pointer;
  }
  
  .view-button:hover {
    background-color: #e6b800;
  }
  
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .action-menu {
    position: relative;
    display: inline-block;
  }
  
  .action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #00000096;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 120px;
    border-radius: 8px; /* Ajout du border-radius */
    overflow: hidden;
  
  }
  
  .action-menu:hover .dropdown-menu {
    display: block;
    
  }
  
  .dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
    color: #FD693F;
  }
  
  .dropdown-item:hover {
    background-color: #FD693F;
    color: white;
  }
  .go-back-button {
    background-color: #ff5722;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    position: relative;
    top: -50px;
    left: 955px;
}
  
  .footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer span{
    color: #0000007a;
    font-weight: bolder;
  }
  
  .view-more-button {
    background: linear-gradient(180deg, #FD693F 10%,  #EDCBC1 90%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 27px;
    cursor: pointer;
  }
  
  .view-more-button:hover {
    background-color: #e65c00;
  }
  .ooo{
    display: flex;
    gap: 12px;
    position: absolute;
    left: 50px;
  }
 
.trash{
    margin-left: 20px;
    width: 19px;
    height: 19px;
    color: #00000096;
}
  

.customers-table tr {
    position: relative;
  }
  
  .customers-table tr:hover {
    border: 1px solid #ffcc00;
    border-radius: 5px;
  }
  .history {
    position: absolute;
    top: -44px;
    left: 289px;
    width: 1128px;
    border-radius: 24px;
    background-color: #EEEEEE;
    border-radius: 15px;
    margin-top: 30px;
  }
  
  .h2 {
    color: #ff6600;
    margin-bottom: 20px;
    position: absolute;
    top: 64px;
    left: -9px;
  }
  
  .user-info {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 189px;
    margin-top: -9px;
  }
  
  .user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 12px;
  }
  
  .user-info h3 {
    font-size: 14px;
    font-weight: bolder;
    color: #FC410C;
    margin-left: 7px;
    margin-top: -12px;
  }
  
  .user-info p {
    color: #888;
    font-size: 13px;
    margin-left: 7px;
    margin-top: -12px;
  }
  
  .user-actions {
    margin-top: -13px;
    margin-left: 12px;
  }
  
  .down-buttons, .block-buttons {
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  
  .down-buttons {
    background-color: #ff5b5b;
    color: white;
    height: 22px;
    text-align: center;
    border-radius: 18px;
    padding: 4px 24px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .block-buttons {
    background-color: #007bff;
    color: white;
    height: 22px;
    text-align: center;
    border-radius: 18px;
    padding: 4px 24px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .user-stats {
    display: flex;
    gap: 62px;
    margin-top: 27px;
    margin-left: 266px;
    color: #ff5722;
    font-weight: bold;
  }
  
  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rr{
    position: absolute;
    left: 328px;
    top: 334px;
    font-weight: bold;
  }
  .rr1{
    position: absolute;
    left: 566px;
    top: 335px;
    font-weight: bold;
  }
  .rr2{
    position: absolute;
    left: 794px;
    top: 334px;
    font-weight: bold;
  }
  
  .stat-icon {
    margin-bottom: 10px;
    width: 213px;
    height: 75px;
    border: 3px solid #EEEEEE;
    border-radius: 19px;
    position: relative;
  }
  .dora{
    margin-left: -112px;
    margin-top: 11px;
  }
  .stat-value {
    font-size: 11px;
    font-weight: bolder;
    color: #281AC8;
    top: 330px;
    left: 280px;
    margin-top: -56px;
    margin-left: -112px;
  }

  .transactions-table {
    width: 1100px;
    border-collapse: collapse;
    margin-top: 9px;
    margin-left: 4px;
    text-align: center;
  }
  .status.successful {
    background-color: #F8D8FD;
    color: #529FF9;
    cursor: pointer;
    width: 41px;
    height: 10px;
    text-align: center;
  }
  
  
  .status.decline {
    background-color: #FFE4DD;
    color: #FC410C;
    cursor: pointer;
    width: 42px;
    height: 7px;
    text-align: center;
  }
  
  .transactions-table td {
    padding: 6px;
    font-size: 8px;
    color: #958f8f;
    font-weight: bold;
    text-align: center;
    position: relative;
}
  
.user-transactions h3{
color: #ff5722;
    margin-top: 37px;
    margin-left: 29px;}
  .transactions-table th, .transactions-table td {
    border-bottom: 1px solid #ddd;
  }
  
  .transactions-table th {
    background-color: #f8f8f8;
    padding: 6px;
    border-bottom: 1px solid #ddd;
    font-size: 10px;
    color: #858585;
    font-weight: bolder;
    text-align: center;
  }
  
  .status-success {
    color: green;
  }
  
  .status-decline {
    color: red;
  }
  
  .action-menus {
    position: relative;
    display: inline-block;
  }
  
  .action-buttons {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #00000096;
  }
  
  .dropdown-menus {
  display: none; 
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 120px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .action-menus:hover .dropdown-menus {
    display: block; 
  } 
  
  .dropdown-items {
    padding: 8px 16px;
    cursor: pointer;
    background-color: white;
    border: none;
    text-align: left;
    color: #858585;
    width: 155px;
  }
  
  .dropdown-items:hover {
    background: linear-gradient(180deg, #281AC8 10%,  #00B8D9 90%);
    color: white;
  }
  .tous{
    background-color: #ffffff;
    border-radius: 19px;
    height: 573px;
    margin-top: 140px;
    margin-left: 20px;
  }
  .status-success {
   font-weight: bold;
    color: #fff;
  }
  
  .status-decline {
    font-weight: bold;
    color: #fff;
  }
  
  .status-success-bg {
    background-color: #5DF888;
    width: 56px;
    padding: 4px;
    border-radius: 26px;
    position: absolute;
    top: 10px;
    left: 29px;
    cursor: pointer;
  }
  
  .status-decline-bg {
    background-color: #EB3232;
    width: 56px;
    padding: 4px;
    border-radius: 26px;
    position: absolute;
    top: 10px;
    left: 29px;
    cursor: pointer;
  }
/*   .status.pending {
    background-color: #F8D8FD;
    color: #D550EB;
    cursor: pointer;
    width: 42px;
    height: 15px;
    text-align: center;
  }
   */